.booktitle{ 
    /* color: #A4AA04; */
    color: #B60000;
    font-weight: bold;
}
.highlight, .highlight:hover {
    color: #b60000;
    font-weight: bold;
    font-style: italic;
}
.inline {
    color: #FFFFFF;
}

.bottom {
    padding-left: 5%;
    padding-right: 5%;
}

.bottomimg {
    margin:10px;
}
  
.bottomimg>a>img{
    height: 120px;
    width: auto;
}

.dropdown-menu,
nav#navbar-main li.nav-item {
  font-size: 17px;
  font-weight: bold;
}

.publication-title {
    color: #5c307d;
    text-decoration: underline; 
}
