<!--<script type="text/javascript" id="clustrmaps" src="https://cdn.clustrmaps.com/map_v2.js?d=jKSvUx3PVKbrs3gMJEUgyrdHV9WKoex6DEx91GJo-8A"></script>-->
<div class="d-flex justify-content-center">
    <div class = "bottomimg">
        <a href = "https://www.tsinghua.edu.cn">
            <img src = "http://tns.thss.tsinghua.edu.cn/~jingao/img/icon.png">
        </a>
    </div>
    <!-- <div class = "bottomimg">
        <a href='https://clustrmaps.com/site/1b079' title='Visit tracker'>
            <img src='//clustrmaps.com/map_v2.png?cl=ffffff&w=a&t=m&d=jKSvUx3PVKbrs3gMJEUgyrdHV9WKoex6DEx91GJo-8A'/>
        </a>
    </div> -->
</div>